.statistic_state{
    display: grid;
   
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up equal space */

    grid-template-rows: repeat(2, 240px); /* Two rows, each taking up equal space */
    gap: 20px; /* Gap between grid items */
    background-color: #fff; /* White background for grid container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for grid container */
}

.grid-item {
    background-color: #e0e0e0; /* Light gray background for grid items */
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ccc; /* Border for grid items */
    display: flex;
    flex-direction: column;
}
.grid_item1_text{
    font: 1em sans-serif;
    position: fixed;
}

.chart_state_num_layoff{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 140px;
    left: 40px;
}