.usa_page{
    height: 1000px
}
path {
    pointer-events: all;
}
path:hover {
    opacity: 0.50;
    cursor: pointer;
}
.legend {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.legend-items {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}

.legend-item {
    text-align: center;
    width: 100px;
    padding: 5px;
}

.cls_btn_div{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.statistic-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;;
    z-index: 1000;
    width: 80vw;   /* 80% of the viewport width */
    height: 80vh;  /* 80% of the viewport height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}



.state-data {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.btn-close {
    background-color: red;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 3px;
}
.btn-close:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }